<footer class="text-center">
    <p class="mt-5 mb-3 text-muted">Carimport</p>
</footer>
<script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/script.js}"></script>