<nav class="navbar-dark bg-dark" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{page.home.header}" />
        <a class="navbar-brand" href="/about" th:text="#{page.about.header}" />
        <a class="navbar-brand" href="/releasenotes" th:text="#{page.releasenotes.header}" />
    </div>

</nav>
