<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head('Somewhere')"/>

<body>
<header th:replace="header"/>
<main role="main">
    <div class="container-fluid">
        <div class="container">
            <h2 th:text="#{page.home.header}"/>
            <form action="#" th:action="@{/search}" th:object="${searchForm}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" th:field="*{manufacturer}"
                           th:placeholder="#{table.cardata.header.manufacturer}"
                           aria-describedby="basic-addon1" required>
                    <input type="text" class="form-control" th:field="*{model}"
                           th:placeholder="#{table.cardata.header.model}"
                           aria-describedby="basic-addon1" required>
                    <input type="text" class="form-control" th:field="*{fuel}"
                           th:placeholder="#{table.cardata.header.fuel}"
                           aria-describedby="basic-addon1">
                    <input type="text" class="form-control" th:field="*{yearModel}"
                           th:placeholder="#{table.cardata.header.yearmodel}"
                           aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <input type="submit" th:value="#{button.main.search}" class="btn btn-success"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="container" align="center" th:if="${statistics != null && statistics.numberOfHits != null}">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 text-danger"><h5 class="display-5"
                                                              th:text="#{max.importtax.label} + ': ' +${#numbers.formatDecimal(statistics.maxVatAmount, 0, 'WHITESPACE', 0, 'POINT')} +  ' €'"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-primary"><h5 class="display-5"
                                                               th:text="#{avg.importtax.label} + ': ' +${#numbers.formatDecimal(statistics.avgVatAmount, 0, 'WHITESPACE', 0, 'POINT')} +  ' €'"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-success"><h5 class="display-5"
                                                               th:text="#{min.importtax.label} + ': ' +${#numbers.formatDecimal(statistics.minVatAmount, 0, 'WHITESPACE', 0, 'POINT')} +  ' €'"></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-primary d-flex align-items-center"><h5 class="display-5"
                                                                                 th:text="#{numberofcars} + ': ' +${statistics.numberOfHits}"></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-striped table-hover table-responsive table-sm">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{table.cardata.header.manufacturer}"></th>
                        <th scope="col" th:text="#{table.cardata.header.model}"></th>
                        <th scope="col" th:text="#{table.cardata.header.enginesize}"></th>
                        <th scope="col" th:text="#{table.cardata.header.fuel}"></th>
                        <th scope="col" th:text="#{table.cardata.header.enginepower}"></th>
                        <th scope="col" th:text="#{table.cardata.header.specification}"></th>
                        <th scope="col" th:text="#{table.cardata.header.decisiondate}"></th>
                        <th scope="col" th:text="#{table.cardata.header.registrationdate}"></th>
                        <th scope="col" th:text="#{table.cardata.header.mileage}"></th>
                        <th scope="col" th:text="#{table.cardata.header.domestivalue}"></th>
                        <th scope="col" th:text="#{table.cardata.header.vatamount}"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr data-toggle="modal" data-id="1" data-target="#itemmodal" th:each="taxvalue : ${taxvalues}">
                        <td scope="row" th:text="${taxvalue.manufacturer}" th:inline="text"/>
                        <td th:text="${taxvalue.model}" th:inline="text"/>
                        <td th:text="${taxvalue.engineSize}" th:inline="text"/>
                        <td th:text="${taxvalue.fuel}" th:inline="text"/>
                        <td th:text="${taxvalue.enginePower}" th:inline="text"/>
                        <td th:text="${taxvalue.specification}" th:inline="text"/>
                        <td th:text="${taxvalue.decision_date}" th:inline="text"/>
                        <td th:text="${taxvalue.registrationDate}" th:inline="text"/>
                        <td th:text="${taxvalue.mileage}" th:inline="text"/>
                        <td th:text="${#numbers.formatDecimal(taxvalue.domestic_value, 0, 'COMMA', 2, 'POINT')}">
                            €
                        </td>
                        <td th:text="${taxvalue.vat_amount}" th:inline="text"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="itemmodal" tabindex="-1" role="dialog" aria-labelledby="itemmodal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div th:if="${pageInformation.totalPages != 1}"
                     class="form-group col-md-1 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${pageInformation.number == 0} ? disabled" class="page-item">
                            <a class="page-link" th:href="@{/(size=${selectedPageSize}, page=1)}">&laquo;</a>
                        </li>
                        <li th:class="${pageInformation.number == 0} ? disabled" class="page-item">
                            <a class="page-link"
                               th:href="@{/(size=${selectedPageSize}, page=${pageInformation.number})}">&larr;</a>
                        </li>
                        <li th:class="${pageInformation.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}" class="page-item">
                            <a class="page-link" th:href="@{/(size=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>
                        <li th:class="${pageInformation.number + 1 == pageInformation.totalPages} ? disabled"
                            class="page-item">
                            <a class="page-link"
                               th:href="@{/(size=${selectedPageSize}, page=${pageInformation.number + 2})}">&rarr;</a>
                        </li>
                        <li th:class="${pageInformation.number + 1 == pageInformation.totalPages} ? disabled"
                            class="page-item">
                            <a class="page-link"
                               th:href="@{/(size=${selectedPageSize}, page=${pageInformation.totalPages})}">&raquo;</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="footer"/>
    </div>


</main>
</body>

</html>