[Unit]
Description={{ applicationname }}
After=syslog.target

[Service]
Environment="SPRING_PROFILES_ACTIVE=dev"
Environment="JAVA_HOME=/home/{{ applicationuser }}/java/jdk-12.0.1/"
WorkingDirectory=/home/{{ applicationuser }}/
User={{ applicationuser }}
ExecStart=/home/{{ applicationuser }}/java/jdk-12.0.1/bin/java -jar /home/{{ applicationuser }}/carimport-web-ui.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target