<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head('Somewhere')"/>

<body>
<header th:replace="header"/>
<main role="main">
    <div class="container-fluid">


        <div class="container">
            <h2 th:text="#{page.about.header}"/>
        </div>
        <div class="container" align="center">
            <h3>Why</h3>
            <p th:text="#{page.about.why}">
                This is the website to get data
            </p>
            <h3>What</h3>
            <p th:text="#{page.about.what}" />
            </p>
            <h3>How</h3>
            <p th:text="#{page.about.how}" />
            <h3>Disclaimer</h3>
            <p>
                The website is a hobby-project amd therefore expect a few bugs.
                I'm continously adding features but please contact me with any reqeusts.
                Any feedback is greatly appreciated so please send that to <b>bilimportax@gmail.com</b>.
                Also keep in mind that the vat amount that you will need to pay can greatly differ from what is presented here,
                this is not an absolute truth the actual amount will still depend on a lot of different factors.
            </p>
        </div>

    </div>
    </div>
    <div th:replace="footer"/>
    </div>


</main>
</body>

</html>