<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head('Somewhere')"/>

<body>
<header th:replace="header"/>
<main role="main">
    <div class="container-fluid">
        <div class="container">
            <h2 th:text="#{page.releasenotes.header}"/>
        </div>
        <div class="container" align="center">
            <h3>Next Release</h3>
            <ul class="list-group">
                <li class="list-group-item border-0">* Enable auto complete on manufacturer and model field *</li>
                <li class="list-group-item border-0" >* Switch to use Elasticsearch for the index to have better matching logic *</li>
            </ul>
            <h3>Release 1.0 - 24.10.2019</h3>
            <ul class="list-group">
                <li class="list-group-item border-0">* All data from 2018 and 2019 imported and available *</li>
                <li class="list-group-item border-0">* Enable searching by manufacturer, model, fueltype and year *</li>
                <li class="list-group-item border-0">* Added about text and release notes *</li>
            </ul>
            </p>
        </div>

    </div>
    </div>
    <div th:replace="footer"/>
    </div>


</main>
</body>

</html>