# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;


events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    server_names_hash_bucket_size  128;
    server_names_hash_max_size 512;

    limit_conn_zone $binary_remote_addr zone=addr:5m;

    include             /usr/local/openresty/nginx/conf/mime.types;
    default_type        application/octet-stream;

    include /usr/local/openresty/nginx/conf/buffer.conf;

    # Causes DNS resolution of upstreams every 5 minutes.
    resolver {{ resolver_ip }};

    # Production/live API configuration
    server {
        server_name {{ server_names }};
        include /usr/local/openresty/nginx/conf/server_ssl.conf;
        include /usr/local/openresty/nginx/conf/ssl.conf;
        include /usr/local/openresty/nginx/conf/security_header.conf;
        include /usr/local/openresty/nginx/conf/default.d/*.conf;

        location / {
            include /usr/local/openresty/nginx/conf/proxy.conf;
            set $upstreamName localhost:8080;
            proxy_pass https://$upstreamName;
        }
        include /usr/local/openresty/nginx/conf/default_error.conf;
    }
}
