nav {
    margin-bottom: 10px;
}

main {
    margin-left: 5px;
    margin-right: 5px;
}

.disable {
    opacity: 0.7;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

form {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1920px !important;
}

.pagination-centered {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}